.skillSet.skillSet {
    code {
        display: inline;
        padding: 2pt 5pt;
        line-height: 25px;
        font-size: 10pt;
        font-family: 'Source Sans Pro', sans-serif;
        color: #e6f0ff;
        background-color: #2d7aa7;
        border-radius: 3pt;
    }
}

@media print {
    .skillSet.skillSet {
        code {
            color: #314592;
            background-color: #e6f0ff;
        }
    }
}
