.page {
    width: 100%;
    height: 100vh;
    font-family: 'Source Sans Pro', sans-serif;
    > .layer {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .background {
        width: 100%;
        height: 100%;
        user-select: none;
        pointer-events: none;
    }
    h1 {
        margin: 0 auto;
        font-weight: 100;
        transition: transform 0.3s;
    }
    ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        li {
            margin: 0;
            list-style: none;
        }
    }
    a {
        color: inherit;
    }
}

.page {
    transition: opacity 0.3s;
    &.exiting,
    &.exited {
        opacity: 0;
        h1 {
            transform: scale(2);
        }
    }
    &.entering,
    &.entered {
        opacity: 1;
    }
}
